#first-help
{
	margin:15px 20px;
	width:850px;
}


#container
{
	margin:7px auto 0px auto;
	padding:15px;
}

#user-strip
{
	margin-top:-15px;
}

#user-strip ul ul
{
	top:12px;
}

#user-strip ul li
{
	z-index:10001; /* Fixes IE7 bug where the parent needs to have a higher z-index than child to overlay properly */
}


#menu
{
	margin-top:5px;
}

#menu-main ul li
{
	z-index:10001; /* Fixes IE7 bug where the parent needs to have a higher z-index than child to overlay properly */
}

#quick-start-button
{
	padding:8px 8px 7px 12px;
	margin:0 4px 0 6px;
}



fieldset button
{
	padding:7px 1px 4px 11px;
}

fieldset button.check
{
	float:left;
	background-position:11px 5px;
	text-indent:11px;
}

#running-reports
{
	margin-bottom:20px;
}

ul.tabs li
{
	border-bottom: 0;
}

ul.tabs li.ui-tabs-selected
{
	border-bottom: 0;
	position:relative;
	top:1px;
}

ul.tabs a,
ul.tabs a:hover,
ul.tabs a:visited
{
	text-decoration: none;
	color: #999;
}

ul.tabs li.ui-tabs-selected a,
ul.tabs li.ui-tabs-selected a:hover,
ul.tabs li.ui-tabs-selected a:visited
{
	color:#444;
}

table thead th
{
	background:url("../images/table/header-bk.png") repeat-x scroll 0 0 #80AF41;
}

table tbody td
{
	border-bottom:1px solid #DDD;
}

table tbody tr.even td
{
	background-color:#F0F0F0;
}

table tbody tr.highlight td
{
	background-color:#f2f7ec;
}

#favorite-list ul li ul li,
#report-list ul li ul li
{
	margin-bottom:8px;
}

.grid_11 fieldset.two-columns div.column-one
{
	float:left;
}

.grid_11 fieldset.two-columns div.column-two
{
	float:left;
	margin-left:20px;
}

.grid_11 fieldset.two-columns div.ie6-two-column
{
	width:310px;
}

.grid_11 fieldset.one-column div.ie6-one-column
{
    float:left;
	width:640px;
}

.grid_16 fieldset.one-column div.ie6-one-column
{
    float:left;
	width:920px;
}

.grid_10 fieldset.two-columns select
{
	width:280px;
	height:274px;
}

.grid_11 fieldset.one-column input.checkbox
{
	width:20px;
}

.grid_16 fieldset.one-column input.checkbox
{
	width:20px;
}

.grid_11 fieldset.two-columns input.checkbox
{
	width:20px;
}

.checkbox
{
    border:0;
    margin:0;
    padding:0;
}

.radiobutton
{
    border:0;
    margin:0;
    padding:0;
}

.grid_11 fieldset.one-column input
{
	width:630px;
}

.grid_16 fieldset.one-column input
{
	width:910px;
}

.grid_11 fieldset.two-columns input
{
	width:300px;
}

.grid_11 fieldset.two-columns select
{
	width:310px;
}

#favorite-list ul
{
    margin-top:0px;
}