@using (Html.BeginForm("Index", "Supplier", FormMethod.Get, new { id = "supplierSearch" }))
{
    
<label>
Search&nbsp;&nbsp; @Html.TextBox("searchWord")
&nbsp;&nbsp;Category @Html.DropDownList("categoryCode", "-- Select All --")
@*</label>
<label>
@*Artist @Html.DropDownList("artistId", "-- Select All --")*@
&nbsp;&nbsp;<input class="button" value="Search" type="submit" />
</label>
 
}