@using VisitaJayaPerkasa.Web.Mvc
@using VisitaJayaPerkasa.Mvc.Models
@using MvcContrib.UI.Grid;
@model PagedViewModel<CityModel>

@{
    ViewBag.Title = "City List";
}

<h2>City List</h2>

<p>
    @Html.ActionLink("Create City", "AddCity", "City")
</p>

@{Html.RenderPartial("SearchBox");}
@{Html.RenderPartial("Pager", Model.PagedList);}
<div class="grid-wrapper">
@Html.Grid(Model.PagedList).Columns(column =>{
    column.For(x => Html.ActionQueryLink(x.CityCode, "EditCity", new { id = x.CityCode})).Named("City Code").InsertAt(0);
    column.For(x => x.CityName);
    column.For(x => Html.ActionQueryLink("delete", "DeleteCity", new { id = x.CityCode })).Named("Action").InsertAt(2);
}).Sort(Model.GridSortOptions).Attributes(@class => "grid-style")
</div>
