#first-help
{
	margin:15px 20px;
	width:920px;
}


#user-strip
{
	margin-top:-15px;
}

#user-strip ul li
{
	z-index:10001; /* Fixes IE7 bug where the parent needs to have a higher z-index than child to overlay properly */
}


fieldset button
{
	padding:7px 1px 4px 11px;
}

fieldset button.check
{
	float:left;
	background-position:10px 5px;
	text-indent:11px;
}

input[type="checkbox"]
{
    border:0;
}

input[type="radio"]
{
    border:0;
}

table thead th
{
	background:url("../images/table/header-bk.png") repeat-x scroll 0 0 #80AF41;
}

table tbody td
{
	border-bottom:1px solid #DDD;
}

table tbody tr.even td
{
	background-color:#F0F0F0;
}

table tbody tr.highlight td
{
	background-color:#f2f7ec;
}

.grid_10 fieldset.two-columns select
{
	width:280px;
	height:274px;
}

#favorite-list ul
{
    margin-top:0px;
}