fieldset button
{
	padding:7px 15px 7px 12px;
}

fieldset button.check
{
	background-position:10px 6px;
}

input[type="checkbox"]
{
    border:0;
}

input[type="radio"]
{
    border:0;
}