@using (Html.BeginForm("Index", "Vessel", FormMethod.Get, new { id = "vesselSearch" }))
{
    
<label>
Search&nbsp;&nbsp; @Html.TextBox("searchWord")
@*&nbsp;&nbsp;Genre @Html.DropDownList("categoryCode", "-- Select All --")*@
</label>
<label>
@*Artist @Html.DropDownList("artistId", "-- Select All --")*@
&nbsp;&nbsp;<input class="button" value="Search" type="submit" />
</label>
 
}