@using (Html.BeginForm("Index", "TypeCont", FormMethod.Get, new { id = "typeContSearch" }))
{
    
<label>
Search&nbsp;&nbsp; @Html.TextBox("searchWord")
@*&nbsp;&nbsp;Genre @Html.DropDownList("categoryCode", "-- Select All --")
</label>
<label>
@*Artist @Html.DropDownList("artistId", "-- Select All --")*@
&nbsp;&nbsp;<input class="button" value="Search" type="submit" />
</label>
 
}