@using VisitaJayaPerkasa.Web.Mvc
@using VisitaJayaPerkasa.Mvc.Models
@using MvcContrib.UI.Grid;
@model PagedViewModel<RoleModel>

@{
    ViewBag.Title = "Role List";
}

<h2>Role List</h2>

<div id="toolbar">
    <ul>
        <li>@Html.ActionLink("Create Role", "AddRole", "Role")</li>
    </ul>
</div>

@{Html.RenderPartial("SearchBox");}
@{Html.RenderPartial("Pager", Model.PagedList);}
<div class="grid-wrapper">
@Html.Grid(Model.PagedList).Columns(column =>{
    column.For(x => Html.ActionQueryLink(x.Name, "EditRole", new { id = x.Name })).Named("Name").InsertAt(0);
    column.For(x => x.Description);
    column.For(x => Html.ActionQueryLink("delete", "DeleteRole", new { id = x.Name })).Named("Action").Sortable(false).InsertAt(2);
}).Sort(Model.GridSortOptions).Attributes(@class => "grid-style")
</div>
